@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {

    
    margin: 0;
    font-family:'poppins',sans-serif;
    text-align: center;

}

h1 {

    font: size 40px; ;
    color: blue;
}

h3 {

    font-size: 20px;


}

.logo {

    margin-top: 60px;
}



h4 {

color: black;
width: 100px;

}


